@font-face {
  font-family: "DIN Pro";
  src: url(/fonts/dinpro.otf);
}

@import "/fonts/gilroy.css";

.container {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-family: "DIN Pro";
}

#bg {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: translateX(-80px);
  transition: 0.5s ease-in-out;
}

.label-bar {
  top: 25px;
  left: 66px;
  width: 153px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.home {
  width: 24px;
  height: 21px;
  cursor: pointer;
}

.line {
  width: 1.5px;
  height: 25px;
  background-color: rgb(39, 39, 39);
}

.project-label {
  font-size: 17px;
  font-family: "Circe";
  color: rgb(39, 39, 39);
  text-transform: uppercase;
  transform: translateY(3px);
  letter-spacing: 1.5px;
}

.logo {
  position: absolute;
  left: 61px;
  bottom: 13px;
  width: 57px;
  height: 12px;
  z-index: 1000;
}

.main-slider {
  width: 3072px;
  height: 768px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.main-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.main-slide1 {
  left: 0;
}

.hello-text {
  font-size: 27px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 66px;
  margin-top: 160px;
}

.not-commer {
  font-size: 109px;
  font-family: "Gilroy";
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  text-align: left;
  text-wrap: wrap;
  margin-left: 66px;
  margin-top: 25px;
  font-weight: 300;
  width: 910px;
  line-height: 105%;
  letter-spacing: 5px;
}

.main-slide2 {
  left: 1024px;
}
.main-slide3 {
  left: 2048px;
}

.pink-sperm1 {
  position: absolute;
  left: 430px;
  top: 156px;
  width: 590px;
  z-index: 11;
}
.pink-sperm2 {
  position: absolute;
  left: -100px;
  top: 650px;
  width: 360px;
  height: 70px;
  z-index: 3;
  rotate: -20deg;
  transform: scale(-1, 1);
  filter: blur(4px);
}
.blue-virus1 {
  position: absolute;
  left: 840px;
  top: 200px;
  width: 115px;
  animation: bact1 7s linear infinite alternate;
}
.blue-virus2 {
  position: absolute;
  left: 540px;
  bottom: 0px;
  width: 225px;
  animation: bact2 5s linear infinite alternate;
}
.bact {
  position: absolute;
  left: 0px;
  top: 72px;
  width: 120px;
}
.blue-sphere1 {
  position: absolute;
  left: 23px;
  top: 503px;
  width: 71px;
  height: 71px;
  rotate: 200deg;
  z-index: -1;
  animation: bact3 8s linear infinite alternate;
}
.blue-sphere2 {
  position: absolute;
  left: 744px;
  top: 61px;
  width: 62px;
  animation: bact4 4s linear infinite alternate;
}
.blue-sphere3 {
  position: absolute;
  left: 360px;
  top: 640px;
  width: 54px;
  filter: blur(12px);
  animation: bact5 3s linear infinite alternate;
}
.blue-sphere4 {
  position: absolute;
  left: 930px;
  top: 40px;
  width: 36px;
  filter: blur(12px);
  animation: bact6 2s linear infinite alternate;
}

@keyframes bact1 {
  to {
    transform: translate(-40px, -20px);
    rotate: 30deg;
  }
}
@keyframes bact2 {
  to {
    transform: translate(-20px, 20px);
    scale: 1.2;
  }
}
@keyframes bact3 {
  to {
    transform: translate(-90px, -40px);
  }
}
@keyframes bact4 {
  to {
    transform: translate(20px, 10px);
    scale: 0.9;
  }
}
@keyframes bact5 {
  to {
    scale: 1.1;
  }
}
@keyframes bact6 {
  to {
    transform: translate(20px, 20px);
  }
}

.next {
  background-color: rgb(255, 106, 159);
  position: absolute;
  border-radius: 40px;
  left: 620px;
  top: 460px;
  width: 280px;
  height: 80px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  .arrow {
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
    box-shadow: 0px 0px 1px 1px #a4a4a4;
    width: 50px;
    margin-left: 20px;
    aspect-ratio: 1;
    img {
      margin: 19px 15px;
      width: 20px;
    }
  }
  p {
    margin-left: 20px;
    font-size: 27px;
    font-family: "DIN Pro";
    color: rgb(23, 23, 23);
    text-align: left;
  }
}

.msg {
  font-size: 27px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  width: 80px;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 66px;
  top: 137px;
}

.text-body {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
  position: absolute;
  padding: 10px;
  border: 20px solid #fff;
  left: 118px;
  top: 240px;
  width: 715px;
  height: 390px;
  font-family: "DIN Pro";
  font-size: 22px;
  color: rgb(23, 23, 23);
  line-height: 1.5;
  text-align: left;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

.key-msg {
  font-size: 27px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  margin-left: 350px;
  margin-top: 175px;
}

.brend {
  font-size: 85px;
  font-family: "Gilroy";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 10px;
  margin-left: 350px;
  margin-top: 20px;
  transform: translateX(-4px);
}

.bottle {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 231px;
  z-index: 100;
}

.blocks {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 40px;
  left: 225px;
  top: 380px;
}

.ehicula {
  height: 213px;
  width: 235px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
  font-size: 25px;
  padding: 52px 50px 0px 130px;
  color: rgb(46, 46, 46);
  line-height: 1.2;
  position: relative;

  .icon1 {
    position: absolute;
    width: 64px;
    top: -33px;
  }
}

.arcu {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
  width: 140px;
  height: 98px;
  font-size: 25px;
  color: rgb(46, 46, 46);
  line-height: 1.2;
  padding: 52px 80px 0 43px;

  .icon2 {
    position: absolute;
    width: 70px;
    top: -25px;
  }
}

.more {
  background-color: rgb(255, 106, 159);
  position: relative;
  z-index: 10;
  margin-top: 36px;
  width: 263px;
  border-radius: 40px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  p {
    font-size: 27px;
    color: rgb(23, 23, 23);
    margin-left: 20px;
  }
}

.plus {
  border-radius: 50%;
  background-color: rgb(23, 23, 23);
  box-shadow: 0px 0px 1px 1px #a4a4a4;
  width: 50px;
  margin-left: 20px;
  aspect-ratio: 1;
  img {
    margin: 18.5px;
    width: 13px;
  }
}

.popup {
  position: absolute;
  inset: 0 0;
  width: 1024px;
  height: 768px;
  background-color: rgba(22, 39, 62, 0.548);
  z-index: -30;
  visibility: hidden;
  transition: linear 0.3s;
  opacity: 0;
}
.popup-window {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 140px;
  top: 123px;
  width: 610px;
  height: 573px;
  z-index: 31;
  padding-left: 212px;
}
.cross {
  position: absolute;
  width: 34px;
  aspect-ratio: 1;
  top: 33px;
  right: 33px;
  cursor: pointer;
}
.texts {
  position: relative;
  margin: 25px 0;

  .num {
    font-size: 25px;
    font-family: "Gilroy";
    color: rgb(140, 201, 232);
    font-weight: bold;
    margin: 15px 0;
  }

  p {
    font-size: 25px;
    font-family: "DIN Pro";
    color: rgb(46, 46, 46);
    line-height: 1.2;
  }

  .text1 {
    position: absolute;
    inset: 0 0;
    transition: linear 0.4s;
  }
  .text2 {
    position: absolute;
    inset: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: linear 0.4s;
  }
}
.btns {
  position: absolute;
  bottom: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.btn-prev {
  width: 9px;
  cursor: pointer;
}
.btn-next {
  width: 9px;
  rotate: 180deg;
  cursor: pointer;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 106, 159);
  transition: linear 0.2s;
}
.circle2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: 2px solid rgb(23, 23, 23);
  outline-offset: -2px;
  transition: linear 0.2s;
}

.key-msg1 {
  font-size: 27px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
}

.brend1 {
  font-size: 85px;
  font-family: "Gilroy";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 10px;
  margin-top: 22px;
  transform: translateX(-6px);
}

.sperm1 {
  position: absolute;
  width: 800px;
  rotate: 25deg;
}
.sperm2 {
  position: absolute;
  rotate: 25deg;
  opacity: 0.529;
  width: 580px;
}
.sperm3 {
  position: absolute;
  rotate: 25deg;
  opacity: 0.49;
  width: 360px;
}
.sperm4 {
  position: absolute;
  width: 131px;
}

.sperm5 {
  position: absolute;
  width: 131px;
}

.sperm {
  transform: translateX(200px);
  opacity: 0;
  transition: transform 3s, opacity 3s;
}
.sperm.active {
  transform: translateX(0px);
  opacity: 1;
  transition: transform 3s, opacity 3s;
}

.bubble1 {
  position: absolute;
  left: 76px;
  top: 220px;
  width: 35px;
  z-index: 99;
  animation: bubble1 2s linear infinite alternate;
}
.bubble2 {
  position: absolute;
  left: 188px;
  top: 317px;
  width: 111px;
  z-index: 99;
  animation: bubble2 3s linear infinite alternate;
}
.bubble3 {
  position: absolute;
  left: 198px;
  top: 72px;
  width: 37px;
  z-index: 101;
  animation: bubble3 2s linear infinite alternate;
}
.bubble4 {
  position: absolute;
  left: 242px;
  top: 591px;
  width: 61px;
  z-index: 99;
  animation: bubble4 4s linear infinite alternate;
}
.bubble5 {
  position: absolute;
  left: 184px;
  top: 155px;
  width: 68px;
  z-index: 101;
  animation: bubble5 1.5s linear infinite alternate;
}
.bubble6 {
  position: absolute;
  left: 183px;
  top: 703px;
  width: 142px;
  z-index: 101;
  animation: bubble6 3.5s linear infinite alternate;
}
.bubble7 {
  position: absolute;
  left: 10px;
  top: 453px;
  width: 33px;
  z-index: 101;
  animation: bubble7 4s linear infinite alternate;
}
.bubble8 {
  position: absolute;
  left: 25px;
  top: 553px;
  width: 75px;
  z-index: 101;
  animation: bubble8 3s linear infinite alternate;
}

@keyframes bubble1 {
  to {
    transform: translate(20px, 20px);
  }
}
@keyframes bubble2 {
  to {
    transform: translate(30px, 10px);
    scale: 1.1;
  }
}
@keyframes bubble3 {
  to {
    transform: translate(20px, -10px);
  }
}
@keyframes bubble4 {
  to {
    transform: translate(5px, 20px);
  }
}
@keyframes bubble5 {
  to {
    transform: translate(20px, 40px);
  }
}
@keyframes bubble6 {
  to {
    transform: translate(15px, 20px);
    scale: 0.9;
  }
}
@keyframes bubble7 {
  to {
    transform: translate(25px, 10px);
  }
}
@keyframes bubble8 {
  to {
    transform: translate(30px, 20px);
    scale: 0.9;
  }
}

.scrollbar {
  position: absolute;
  left: 78px;
  top: 240px;
  width: 20px;
  height: 450px;
}

.scroll-thumb {
  position: absolute;
  width: 20px;
  height: 104px;
}
.scroll-track {
  margin: 0 auto;
  height: 100%;
  width: 5px;
  background-color: #000;
  border-radius: 10px;
}
